:root {
    --headerfont: #3c2d38;
    --mainfont: #1f1f1f;
    --bgcolor: #e7ce9f;
    --sidenav: #dab46d;
    --selectioncolor: #f7f0e2;
    --selectioncolorbar: #debc7d;
    --selectorfont: #251c23;
    --shadecolor: #e3cb9b;
    --shadecolor2: #e7d3aa;
}

/*-------------------fonts---------------------*/

@font-face {
    font-family: "Iosevka";
    src: url(fonts/iosevka-thin.ttf) format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Iosevka";
    src: url(fonts/iosevka-thinitalic.ttf) format("truetype");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "Iosevka";
    src: url(fonts/iosevka-thinoblique.ttf) format("truetype");
    font-weight: 100;
    font-style: oblique;
}

@font-face {
    font-family: "Iosevka";
    src: url(fonts/iosevka-light.ttf) format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Iosevka";
    src: url(fonts/iosevka-lightitalic.ttf) format("truetype");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "Iosevka";
    src: url(fonts/iosevka-lightoblique.ttf) format("truetype");
    font-weight: 200;
    font-style: oblique;
}

@font-face {
    font-family: "Iosevka";
    src: url(fonts/iosevka-regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Iosevka";
    src: url(fonts/iosevka-italic.ttf) format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Iosevka";
    src: url(fonts/iosevka-oblique.ttf) format("truetype");
    font-weight: normal;
    font-style: oblique;
}

@font-face {
    font-family: "grotesk";
    src: url(fonts/hkgrotesk-medium.TTF) format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "grotesk";
    src: url(fonts/hkgrotesk-semibold.TTF) format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "grotesk";
    src: url(fonts/hkgrotesk-bold.TTF) format("truetype");
    font-weight: bold;
}

/*--------------------------end of fonts----------------------*/

/*-------------------values for header+---------------------*/

body {
    background-color: var(--bgcolor);
    font-family: 'Iosevka', 'grotesk', Georgia, sans-serif;
    margin: auto;
}

.main {
    margin: auto;
    margin-right: 16rem;
    padding-top: .2rem;
    padding-left: 4rem;
}

/* header used for homepage*/

h1 {
    font-size: 4rem;
    color: var(--headerfont);
    font-weight: 500;
    margin-top: 2rem;
    line-height: 1.7;
    font-family: 'grotesk';
}

/*used in the description for the homepage and about page*/

h2 {
    color: var(--headerfont);
    font-size: 3rem;
    font-weight: 300;
    padding-top: 0rem;
    margin-bottom: 2rem;
    font-family: 'grotesk';
}

.h2about {
    font-size: 4rem;
    font-weight: 400;
}

/*used in homepage with the artworks*/

h3 {
    color: var(--headerfont);
    font-size: 4rem;
    font-weight: 500;
    padding-bottom: 0rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-family: 'grotesk';
}

h4 {
    font-size: 3.5rem;
    color: var(--headerfont);
    font-weight: 300;
    padding-top: 1rem;
    margin-top: 0rem;
    margin-bottom: 3rem;
    font-family: 'grotesk';
}

h5 {
    font-size: 6rem;
    color: var(--headerfont);
    font-weight: 500;
    padding-top: 1rem;
    margin-top: 0rem;
    padding-bottom: 0;
    margin-bottom: 20px;
    font-family: 'grotesk';
}

/*-------------------styling for fonts---------------------*/

p {
    font-size: 2rem;
    position: relative;
    font-weight: 200;
    color: var(--mainfont);
    outline: none;
    line-height: 140%;
    margin-right: auto;
}

.p2 {
    font-size: 2rem;
    font-weight: 300;
    position: relative;
    line-height: 140%;
    color: var(--headerfont);
    outline: none;
    margin-right: auto;
    margin-top: 0;
    padding-bottom: 1rem;
}

.p3 {
    font-size: 2rem;
    font-weight: 200;
    position: relative;
    line-height: 120%;
    color: var(--mainfont);
    outline: none;
    margin-right: auto;
    margin-top: 0px;
}

.p4 {
    font-size: 2rem;
    font-weight: 200;
    position: relative;
    color: var(--mainfont);
    outline: none;
    margin-right: auto;
}

.p5 {
    font-size: 1.7rem;
    font-weight: 200;
    font-style: normal;
    position: relative;
    color: var(--mainfont);
    outline: none;
    padding-bottom: 1.3rem;
    margin-bottom: 1rem;
}

.p6 {
    font-size: 2rem;
    font-weight: 200;
    position: relative;
    color: var(--mainfont);
    outline: none;
}

/*-------------------list---------------------*/

ul {
    font-size: 1.7rem;
    position: relative;
    font-weight: 200;
    color: var(--mainfont);
    outline: none;
    line-height: 210%;
    list-style: none;
    padding-left: 0;
}

ul a {
    text-decoration: underline;
    color: var(--mainfont);
    text-underline-position: under;
}

.acclaim a {
    text-decoration: underline;
    color: var(--mainfont);
    text-underline-position: under;
}

.email {
    text-decoration: underline;
    color: var(--mainfont);
    text-underline-position: under;
    font-size: 1.7rem;
}

.acclaim {
    padding-right: 10px;
    padding-bottom: 2rem;
}

ul.links {
    font-size: 1.6rem;
    font-weight: 200;
    color: var(--mainfont);
    outline: none;
    line-height: 200%;
    text-underline-position: under;
    list-style: none;
    margin-top: .7rem;
    padding: 0px;
}

.timezone {
    float: right;
}

/*this allows for the text to float to the right of the image*/

.multiplelist {
    display: flex;
    justify-content: stretch;
    padding-bottom: 2rem;
}

/* this is just for spacing and such*/

br.clear {
    clear: both;
}

br.spacing {
    display: block;
    /* makes it have a width */
    content: "";
    /* clears default height */
    margin-top: -1rem;
    /* change this to whatever height you want it */
}

br.spacing2 {
    display: block;
    /* makes it have a width */
    content: "";
    /* clears default height */
    margin-top: 0rem;
    /* change this to whatever height you want it */
}

div.spacingbetween {
    margin-top: 1rem;
}

div.spacingbetween2 {
    margin-top: 0rem;
    overflow: auto;
}

div.abouttext {
    height: 1000px;
    margin-bottom: 1rem;
    overflow: hidden;
}

div.spacingbetween4 {
    margin-top: 20px;
}

/*-------------------Reizing for About Page---------------------*/

#listspacing {
    margin-right: 18rem;
    flex-grow: 0;
}

.blurb h1 {
    margin: 0;
}

.content {
    align-items: center;
    margin: auto;
}

.list {
    flex-grow: 1;
}

.column {
    float: right;
    width: 40%;
    padding: 5px;
}

/* Clear floats after image containers */

.row::after {
    content: "";
    clear: both;
    display: table;
}

/*-------------------Work Page Content---------------------*/

div.shade2 {
    background: var(--shadecolor);
    margin: 0vh;
    padding-left: 0rem;
    padding-right: 0rem;
    padding-top: 4rem;
    padding-bottom: 3rem;
    z-index: -2;
    padding-right: 10rem;
    border-top: 1px solid var(--headerfont);
}

div.shade3 {
    background: var(--shadecolor2);
    margin: -5rem;
    margin-top: 5px;
    padding-left: 5rem;
    padding-right: 16rem;
    padding-top: 0rem;
    border-top: 1px solid var(--headerfont);
}

div.shade4 {
    background: var(--shadecolor);
    margin: -5rem;
    padding-left: 5rem;
    padding-right: 10rem;
    margin-top: 4rem;
    padding-top: 4rem;
    padding-bottom: 50vh;
    border-top: var(--headerfont);
    border-top: 1px solid var(--headerfont);
}



hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid var(--selectorfont);
    margin: 1em 0;
    padding: 0;
}

#viewbox{
    display:flex;
}

a.view {
    color: var(--mainfont);
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-thickness: 3px;
    text-underline-offset: 10px;
    transition: ease 0.4s;
    outline: none;
    font-size: 2rem;
    font-weight: 200;
    position: relative;
    outline: none;
    margin-right: auto;
    display:flex;
    align-self:center;
}

a.view:hover {
    -webkit-text-decoration-color: #341246;
    /* safari still uses vendor prefix */
    -moz-text-decoration-color: #341246;
    text-decoration-color: #341246;
    color: #4b1a65;
    outline: none;
    background: none;
}


/* actually related to work page*/

.boxes {
  padding:2rem;
  padding-left:0rem;
    border-bottom: 1px solid var(--headerfont);
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
 
}



.images {

    display:flex;
    width:20%;
    margin-right: 10rem;
    margin-left: auto;
    align-self: flex-end;
    flex-grow: 0;
    flex-basis: auto;
   
}


.text {
    display:flex;
    margin-right: auto;
    margin-left: 4rem;
    flex-direction: column;
    align-self:flex-start
}





#one {
    padding-top: 0rem;
}

#two {
   
    border-bottom: none;
}

/*img for about page, which has been temporarly removed for the time being.*/

/*img {
    float:left;
   
    height: 629px;
    margin-right: 4rem;
    padding-top: 2rem;
    padding-bottom:2rem;
    min-height: 350px;
    min-width: 350px;
}
*/

/*-------------------Section---------------------*/

img.logo {
    height: 400px;
    padding-top: 4rem;
}

#amandeep {
    text-decoration: underline;
    color: var(--headerfont);
    font-weight: 500;
}

/*shade, this is for the about page on the bottom.*/

div.shade {
    background: var(--shadecolor);
    margin: -5rem;
    padding-left: 5rem;
    padding-right: 16rem;
    margin-top: 4rem;
    padding-top: 4rem;
    padding-bottom: 2rem;
    border-top: var(--headerfont);
    border-top: 1px solid;
}

div.textbottom {
    padding-left: -5rem;
}

/*for index page*/

/*-------------animation for text on site.---------------------*/

.fade-in {
    animation: fadein 0.3s;
    -moz-animation: fadein 0.3s;
    /* Firefox */
    -webkit-animation: fadein 0.3s;
    /* Safari and Chrome */
    -o-animation: fadein 0.3s;
    /* Opera */
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*end of animation*/

/*for a values, when hovering*/

a {
    transition: ease 0.4s, background-color 0.4s;
    font-weight: 200;
    text-decoration: none;
    color: var(--mainfont);
    outline: none;
    padding: 0.10em;
    margin: 0 calc(-0.10em - 2px);
}

a:hover {
    color: var(--selectorfont);
    outline: none;
    padding: .75rem;
    background-color: var(--selectioncolor);
}

/*for 404 styling, fix?*/

#for404 {
    border: .25rem solid #e8e8e800;
    margin: 0 calc(-0.25em - -3px);
    text-decoration: underline;
}

/* The side navigation menu */

.sidenav {
    height: 100%;
    /* 100% full-height */
    width: 11.5rem;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    right: 0;
    float: right;
    overflow: auto;
    background-color: var(--sidenav);
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 25vh;
    outline: none;
    margin-top: auto;
    margin-bottom: auto;
    border-left: .11rem solid var(--headerfont);
}

/* The navigation menu links */

.sidenav a {
    padding: 1.7rem;
    text-decoration: none;
    text-align: right;
    font-size: 1.6rem;
    color: var(--headerfont);
    display: block;
    transition: width 0.3s;
    outline: none;
    font-weight: 200;
}

.sidenav a:hover {
    background-color: var(--selectioncolorbar);
    transition: ease 0.4s;
}

.sidenav a::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    transition: width 0.4s, background-color 0.4s;
    position: absolute;
    right: 0;
    background-color: var(--selectioncolorbar);
}

.sidenav a:hover::after {
    background-color: var(--headerfont);
    width: 75%;
    outline: none;
    transition: width 0.4s;
}

#selected {
    content: '';
    right: 0;
    outline: 1px solid;
    background-color: var(--selectioncolorbar);
}

/*---contact form
This is without a doubt, the messiest code I've ever written. This needs some serious help but I cannot be bothered to for now----*/

/* Style inputs, select elements and textareas */

input[type=text], select, textarea {
    padding: 12px;
    margin-bottom: 4px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid var(--headerfont);
    border-radius: 1px;
    width: 39rem;
    font-family: inherit;
    color: var(--mainfont);
    font-size: 1.2rem;
    transition: all 0.2s ease 0s;
}

input[type=text]:hover, select:hover, textarea:hover {
    color: white;
    border-color: transparent;
    background-color: var(--headerfont);
}

input[type=text]:focus, select:focus, textarea:focus {
    color: white;
    border-color: transparent;
    background-color: var(--headerfont);
}

textarea {
    font-family: inherit;
    height: 390px;
    min-height: 250px;
    max-width: 100%;
    box-sizing: border-box;
    overflow: auto;
    resize: vertical;
}

/* Style the submit button */

input[type=submit] {
    background-color: transparent;
    color: var(--headerfont);
    width: auto;
    border-width: 2px;
    border-style: solid;
    border-color: inherit;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 12px 15px 12px 25px;
    transition: all 0.2s ease 0s;
    cursor: pointer;
    font-size: 1.3rem;
    font-family: inherit;
}

input[type=submit]:hover {
    background-color: var(--headerfont);
    color: white;
    border-color: transparent;
}

/*this is the social media box*/

.emailandmedia {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.socialmedia {
    display: flex;
    padding-top: 1rem;
}

/*this is social media and form box*/

.form-and-links {
    display: flex;
    padding-top: 1.4rem;
    justify-content: space-between;
    flex-direction: row;
    margin-left: auto;
}

/* Style the container */

.formcontainer {
    border-radius: 0px;
    background-color: none;
    display: flex;
    padding-right: 10rem;
    padding-top: 1rem;
    display: inline;
}

/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

/*
.footer {
    background: var(--shadecolor2);
    margin: -5rem;
    margin-top:5px;
    margin-bottom:none;
    padding-left: 5rem;
    padding-right: 12rem;
    padding-top: 1rem;
    border-top: 1px solid var(--headerfont);
 }


  /*--footer--*/

.contactfooter {
    display: flex;
    margin-top: 2em;
    border-top: 1px solid var(--headerfont);
    width: 100%;
    background: var(--shadecolor2);
    margin: -5rem;
    margin-top: 5px;
    margin-bottom: none;
    padding-left: 5rem;
    padding-right: 12rem;
    padding-top: 1rem;
}

.footertext {
    font-size: 1.4rem;
    font-weight: 400;
    position: relative;
    color: var(--mainfont);
    outline: none;
}

#sole {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.respfooter {
    display: flex;
    align-self: flex-end;
    flex-direction: row;
    box-sizing: inherit;
    margin-left: auto;
}

ul.footerlist {
    display: flex;
}

li.footerlist {
    display: flex;
    align-items: center;
    padding-left: 1.2rem;
}

ul a.footerlist {
    transition: none;
    font-weight: 200;
    text-decoration: none;
    color: var(--headerfont);
    outline: none;
    padding: 0;
    margin: 0;
}

ul a:hover.footerlist {
    color: var(--selectorfont);
    outline: none;
    padding: 0px;
    background-color: transparent;
}

/*-------------------------------------------------'responsive' design-----------------------------------------------------------------*/

@media screen and (max-width: 1280px) {
    .content {
        align-items: center;
        display: inline;
        margin: auto;
    }
    .form-and-links {
        display: flex;
        flex-wrap: wrap;

        flex-direction: column;
    }


    /*div related to flexing*/

    .emailandmedia {
        margin-left: 0;
        margin-right: 0;
        padding-bottom:1rem;
    }
    /* Style the container */
    .formcontainer {
        border-radius: 0px;
        background-color: none;
        display: flex;
        padding-right: 0px;
    }

}

@media screen and (max-width: 768px), screen and (max-height: 1024px) {
    div.abouttext {
        display: inline;
        padding-left: 0;
        position: relative;
    }
    @media screen and (max-width: 900px) {
        /*for side bar*/
        .sidenav {
            width: 100%;
            height: auto;
            position: relative;
            padding-top: 0;
            overflow-x: hidden;
            overflow-y: hidden;
            border-left: 0rem solid var(--headerfont);
        }
        .acclaim {
            justify-content: center;
            align-items: center;
            padding-left: 1rem;
            width: 80%;
            padding-bottom: 10rem;
        }
        /* When you mouse over the navigation links, change their color */
        .sidenav a:hover::after {
            background-color: var(--fadinginto);
            width: 0%;
        }
        /* this is for the top bar nav when the display is lower than 850 or so.*/
        .sidenav a {
            display: inline-block;
            font-size: 1.5rem;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            border: none;
        }

/*----------------------------------------Div Styling-------------------------------------------------------------------*/

        .footer {
            background: none;
            padding-top: 1rem;
            text-align: center;
            position: inline-block;
            margin: 0;
        }
        .sidenav {
            float: none;
            overflow-x: hidden;
            overflow-y: hidden;
        }
        div.shade {
            margin: auto;
            padding-left: 0rem;
            padding-right: 0rem;
            padding-top: 0rem;
            margin-top: -5rem;
        }
        div.shade2 {
            margin: auto;
            padding-left: 0rem;
            padding-right: 0rem;
            padding-top: 0rem;
            margin-top: -5rem;
        }
        div.shade3 {
            margin: auto;
            padding-left: 0rem;
            padding-right: 0rem;
            padding-top: 0rem;
            margin-top: -5rem;
        }
        div.textbottom {
            margin: auto;
            text-align: center;
        }
        #selected {
            content: '';
            right: 0;
            outline: 0px solid;
            background-color: var(--selectioncolorbar);
        }
        div.abouttext {
            margin-left: 0;
            padding-top: 2rem;
            margin-bottom: 0rem;
            padding-bottom: 0rem;
        }
        div.certifications {
            justify-content: center;
            display: inline-block;
            margin-right: 10%;
        }
        .multiplelist {
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            margin: auto;
        }
        img {
            width: 35% !important;
            height: auto !important;
            text-align: center;
            margin-right: 0rem;
            float: none;
            margin-bottom: 20px;
        }
/*-------------------------text and body styling-----------------------------------------------------------------------------------------------------*/

        html, body {
            overflow-x: hidden;
        }
        body {
            position: relative;
        }
        body {
            text-align: center;
            padding: 0;
            font-size: 3rem;
        }
        .main {
            padding-top: 1rem;
            padding-left: 0rem;
            margin-left: auto;
            display: inline;
            margin-right: 0;
        }
        div {
            margin: auto;
        }
/*-------------------------text styling------------------------------------------------------------------------------------------------------*/

        p {
            font-size: 1.3rem;
            text-align: center;
            display: inline-block;
            padding: 0;
            justify-content: center;
        }
        .p2 {
            font-size: 1.4rem;
            text-align: center;
            display: inline-block;
            padding: 0;
            width: 70%;
        }
        .p3 {
            font-size: 1.4rem;
            text-align: center;
            display: inline-block;
            padding: 0;
        }
        .p4 {
            font-size: 1.4rem;
            text-align: center;
            padding: 0;
            display:flex;
            margin:auto;
            padding-top:1rem;
        }
        .p5 {
            font-size: 1.3rem;
            text-align: center;
            padding: 0;
            display: inline-block;
            padding-bottom: 1.3rem;
            margin-bottom: 1rem;
            padding-left: 10px;
            padding-right: 10px;
        }
        h1 {
            text-align: center;
            display: inline-block;
            font-size: 3rem;
            padding: 0;
            justify-content: center;
        }
        h2 {
            padding-top: 0;
            display: flex;
            align-self: flex-start;
            text-align: center;
            margin: auto;
            font-size: 2rem;
            justify-content: center;
        }
        .skills h2 {
            padding-top: 0;
            margin-bottom: 0px;
            margin-left: 0px;
            text-align: center;
            display: inline-block;
            margin-right: 0%;
            justify-content: center;
        }
        h3 {
            padding-top: 0;
            margin-bottom: 0px;
            text-align: center;
            display: inline-block;
            font-size: 2.5rem;
            line-height: 1.3;
        }
        h4 {
            font-size: 2rem;
            color: var(--headerfont);
            font-weight: 400;
            padding-top: 3rem;
            text-align: center;
            display: inline-block;
        }
  
        h5 {
            font-size: 2rem;
            color: var(--headerfont);
            font-weight: 500;
            padding-top: 1rem;
            margin-top: 0rem;
            padding-bottom: 0;
            margin-bottom: 20px;
            font-family: 'grotesk';
        }

        /*a styling*/

        a {
            transition: ease 0s, background-color 0s;
            font-weight: 200;
            text-decoration: none;
            color: var(--mainfont);
            outline: none;
        }

        /* list styling*/

        ul {
            font-size: 1.3rem;
            display: inline-block;
            text-align: center;
            font-weight: 200;
            color: var(--mainfont);
            outline: none;
            line-height: 200%;
            list-style: none;
            padding: 0;
        }
        #listspacing {
            flex-grow: 1;
            text-align: center;
            margin-right: 10%;
            width: 85%;
        }
/*------------------------contact page formating------------------------------------------------------------------------------------------------------*/

        /* Style inputs, select elements and textareas */
        input[type=text], select, textarea {
            margin-bottom: 4px;
            box-sizing: border-box;
            background-color: rgba(0, 0, 0, 0);
            border: 2px solid var(--headerfont);
            border-radius: 1px;
            width: 20rem;
            align-self: center;
            font-family: inherit;
            color: var(--mainfont);
            font-size: 1.2rem;
            transition: all 0.2s ease 0s;
        }
        input[type=text]:hover, select:hover, textarea:hover {
            color: white;
            border-color: transparent;
            background-color: var(--headerfont);
        }
        input[type=text]:focus, select:focus, textarea:focus {
            color: white;
            border-color: transparent;
            background-color: var(--headerfont);
        }
        textarea {
            font-family: inherit;
            height: 390px;
            min-height: 250px;
            max-width: 100%;
            box-sizing: border-box;
            overflow: auto;
            resize: vertical;
        }
        /* Style the submit button */
        input[type=submit] {
            background-color: transparent;
            color: var(--headerfont);
            width: auto;
            border-width: 2px;
            border-style: solid;
            border-color: inherit;
            margin-top: 20px;
            margin-bottom: 20px;
            padding: 12px 15px 12px 25px;
            transition: all 0.2s ease 0s;
            cursor: pointer;
            font-size: 1.3rem;
            font-family: inherit;
        }

        /* this is for the div that says "lets talk"*/
        #contactblock{
            padding-top:.5rem;
            margin-top:.5rem;
        }
        #contact{
            font-size:3.5rem;
            padding-bottom:1rem;
        }
        /*this is social media and form box, change these values to mesxs with their spacing and stuff*/

        .form-and-links {
            display: flex;
            flex-wrap: wrap;

            flex-direction: column;
        }
        /*this is the text that says my email and stuff*/

        #emailheader {
            font-size: 2.3rem;

            margin-bottom:1rem;
        }
        #socialheader{
            font-size: 2.3rem;
        }
        
        .email {
            text-decoration: underline;
            color: var(--mainfont);
            text-underline-position: under;
            font-size: 1.4rem;
            
        }
        
        /*div related to flexing*/

        .emailandmedia {
            margin-left: 0;
            margin-right: 0;
            padding-bottom:1rem;
        }
        /* Style the container */
        .formcontainer {
            border-radius: 0px;
            background-color: none;
            display: flex;
            padding-right: 0px;
        }
        /*--footer--*/
        .contactfooter {
            display: flex;
            margin-top: 2em;
            border-top: 1px solid var(--headerfont);
            width: 100%;
            background: var(--shadecolor2);
            margin: -5rem;
            margin-top: 5px;
            margin-bottom: none;
        }
        .footertext {
            font-size: 1.3rem;
            font-weight: 400;
            position: relative;
            color: var(--mainfont);
            outline: none;
        }
        #sole {
            display: flex;
            width: 100%;
            flex-direction: row;
        }

        .respfooter {
            display: flex;
            align-self: flex-end;
            flex-direction: row;
            box-sizing: inherit;
            font-size: 0.6em;
            margin-left: auto;
            margin-right: 1rem;
        }
        ul.footerlist {
            display: flex;
        }
        li.footerlist {
            display: flex;
            align-items: center;
            padding-left: 1rem;
        }
        ul a.footerlist {
            transition: none;
            font-weight: 200;
            text-decoration: none;
            color: var(--headerfont);
            outline: none;
            padding: 0;
            margin: 0;
        }
        ul a:hover.footerlist {
            color: var(--selectorfont);
            outline: none;
            padding: 0px;
            background-color: transparent;
        }
    }
    @media screen and (max-width: 360px) {
        .sidenav a {
            text-align: center;
            float: none;
            overflow-x: hidden;
            overflow-y: hidden;
        }
    }
}