
:root{
	--mainfont: #bdbcbc;
}

@font-face {
	font-family: Iosevka Light;
	src: url(./fonts/iosevka-light.ttf) format("truetype");
}

@font-face {
	font-family: Iosevka LightItalic;
	src: url(./fonts/iosevka-lightitalic.ttf) format("truetype");
}

@font-face {
	font-family: Iosevka LightOblique;
	src: url(./fonts/iosevka-lightoblique.ttf) format("truetype");
}


@font-face {
	font-family: Iosevka Regular;
	src: url(./fonts/iosevka.ttf) format("truetype");
}

@font-face {
	font-family: Iosevka Italic;
	src: url(./fonts/iosevka-italic.ttf) format("truetype");
}

@font-face {
	font-family: Iosevka Oblique;
	src: url(./fonts/iosevka-oblique.ttf) format("truetype");
}


@font-face {
	font-family: Iosevka Bold;
	src:url(./fonts/iosevka-bold.ttf) format("truetype");
}



body{
	background-color:#121212
}




	
h1 {font-family:'Iosevka', sans-serif; 
	color: var(--mainfont);
	font-size: 3rem;
	font-style: oblique;
	font-weight: 400;
	padding-top: 4rem;
	padding-left: 5rem;}


h2 {font-family:'Iosevka Light', sans-serif; 
	color: var(--mainfont);
	font-size: 1.5em;}

h3 {font-family:'Iosevka', sans-serif; 
	font-size:32px; 
	color: var(--mainfont);
	font-weight: 500;
}
	
p {	font-family:'Iosevka';
	font-size: 2rem;
position: relative;
font-weight: 200; 
color:var(--mainfont);
outline:none;
padding-top: .1rem; 
padding-left: 5rem;

}

.medialist{
	text-underline-position: under;
	outline:none;
  } 
	
a{
	font-family:'Iosevka';
	transition: 0.2s;
font-weight: 200; 
text-underline-position: under;
color:var(--mainfont);
}

a:hover {
	color: #f1f1f1;
	text-decoration: underline;
  }




 /* The side navigation menu */
 .sidenav {
	height: 100%; /* 100% Full-height */
	width: 18rem; 
	position: fixed; /* Stay in place */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	right: 0;
	background-color: #0d0d0d; /* Black*/
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 19rem; /* Place content 60px from the top */
	
  }
  
  /* The navigation menu links */
  .sidenav a {
	padding: 0em 1.1em 2.5rem;
	text-decoration: none;
	text-align:right;
	font-size: 2rem;
	color: var(--mainfont);
	display: block;
	transition: 0.2s;
	font-family:"Iosevka";
	outline:none;
	font-weight:300;
	text-underline-position: under;
	text-decoration: underline;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
	color: #f1f1f1;
	


  }
  

  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) and (min-width: 350px)
  {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
  } 